*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}
 nav > ul{
  display: flex;
  align-items: center; 
}
nav > ul > li{
  list-style: none; 
  margin-right: 50px;
}
nav > ul > li> a{
  text-decoration: none;
  text-transform: capitalize;
}
/* heade + banner area css */
.nave-title{
  color: #181818;
  font-size: 45px;
  font-weight: 700;
  text-transform: capitalize;
}
.span{
  color: #fd6e0a;
}
.btn{
  background-color: #fd6e0a;
  border-radius: 5px;
  border: 0;
  color: white;
  font-weight: 700;
  font-size: 20px;
  padding: 15px 35px;
  text-transform: capitalize;
}
.header{
  background-color: #fff8f3;
  background-image: url(../img/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner{
  padding: 30px 30px 30px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner, 
.profie{
  height: 500px;
}
.banner-contant{
  max-width: 500px;
}
.banner-creti{
  font-size: 45px;
  color: #474744;
  margin-bottom: 0;
  text-transform: capitalize;
}
.banner-title{
  font-size: 85px;
  font-weight: 700;
  margin-bottom: 30px;
  text-transform: capitalize;
}
.banner-conten{
  margin-bottom: 20px;
}
/* main section area */
main{
  max-width: 1140px;
  margin: 0 auto;
}
main section{
  margin-top: 130px;
}
/* about area css */
.about{
  padding: 130px;
  background-color: #fff8f3;
  border-radius: 5px;
  margin: 130px 0;
}
.section-title{
  color: #181818;
  text-align: center;
  font-family: open sans;
  font-size: 35px;
  font-weight: 700;
  text-transform: capitalize;
}
.section-des{
  color: #757575;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
}
.about-info-container{
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
.about-inf{
  text-align: center;
}
.info-title{
  padding-bottom: 10px;
}
.info-des{

}
/* section area start */
.what-do{
  padding: 30px 150px;
}
.skil-conseption{
  display: flex;
  gap: 24px;
}
.skil{
  padding: 30px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skil-title{
 text-transform: capitalize;
 padding: 20px 0;
}
.skil-des{
 color: #757575;
}
/* resume section css */
.resume-container{
  display: flex;
  gap: 50px;
}
.resume-title{
  color: #474744;
  font-size: 30px;
  font-family: Open Sans;
  font-weight: 700;
  text-transform: capitalize;
  margin-top: 30px;
}
.resume-column{

}

.resume-item{

}
.resume-item-title{
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  text-transform: capitalize;
  padding: 20px 0;
}
.resume-item-ins{
  color: #757575;
  text-transform: capitalize;
}
.resume-item-des{
  color: #757575;
    padding: 20px 0;
}
.downlod-cd{
  text-align: center;
  margin-top: 30px;
}