*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 nav > ul{
  display: flex;
  align-items: center; 
}
nav > ul > li{
  list-style: none; 
  margin-right: 50px;
}
nav > ul > li> a{
  text-decoration: none;
}
.nave-title{
  color: #181818;
  font-size: 45px;
  font-weight: 700;
  text-transform: capitalize;
}
.span{
  color: #fd6e0a;
}
.btn{
  background-color: #fd6e0a;
  border-radius: 5px;
  border: 0;
  color: white;
  font-weight: 700;
  font-size: 20px;
  padding: 15px 35px;
}
